@charset "utf-8";

$fa-font-path: "../fonts/font-awesome";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "bootstrap-sass/bootstrap-custom-variables", // Custom variables must load before bootstrap.
  "bootstrap-sass/bootstrap",
  "font-awesome/font-awesome",
  "creative/creative"
;


@import url(http://fonts.googleapis.com/css?family=Merriweather|Open+Sans:400,700);
@import "../css/magnific-popup";



/* -------------------------------*/
/* HOME */
/* -------------------------------*/

p {
	font-family: 'Open Sans', serif;
}

.event-date, h5 {
	font-family: 'Open Sans', serif;
}

.countdown-wrapper, .countdown-wrapper p {
	margin-top: 50px;
}

#final-countdown {
	padding: 20px;
}

#final-countdown, #final-countdown p, .countdown-wrapper {
	font-family: 'Open sans', serif;
	font-size: 18px;
	text-align: center;
}

.circle {
	background: $theme-primary;
	border-radius: 130px;
	color: #fff;
	height: 130px;
	font-weight: bold;
	width: 130px;
	display: table;
	margin: 10px auto;
}

#final-countdown .circle p {
	vertical-align: middle;
	display: table-cell;
	font-size: 30px;
}


.home-intro {
	margin-bottom: 10px;
	margin-top: 20px;
}

.home-cta {
	margin: 30px 0 10px 0;
}

.home-more-info {
	margin: 50px 0 10px 0;
}

#dogodki .section-heading {
	margin-top: 100px;
}

.counter {
	font-size: 20px;
}

#sodeluj {
	a {
		color: #fff;
		text-decoration: underline;
		&:hover {
			color: #000;
		}
		&:visited {
			color: #fff;
		}
	}
}

.service-box p {
	margin-bottom: 20px;
}

a .section-link{
	font-weight: bold;
	font-size:14px;
}


/*****************/
/* SUBPAGE */
/*****************/
.subpage img {
	width: 100px;
	height: 100px;
}

.subpage ul li {
	padding:10px 0 0 0;
}

.member-name {
	font-weight: 700;
}

.member-card {
	min-height: 250px;
}

.author .author-description {
	margin-left: 30px;
	font-size: 11px;
}

.subpage-plain {
	h3 {
		margin-top: 50px;
		margin-bottom: 30px;
	}
	
	li {
		font-size: 16px;
		line-height: 1.5;
	}
	
	.call-to-action {
		margin: 50px 0 50px 0;
		padding: 10px;
		
		a, a:hover, a:visited {
			color: #fff;
			text-decoration: underline;
		}
	}
}

.logo-small {
	width: 100px;
	height: 100px;
}