<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Evropski teden programiranja 2015 poteka od 10. do 18. oktobra. Združuje mlade in mlade po srcu, ki se želijo naučiti programirati, in vse, ki jim želimo pri tem pomagati." />
  <meta property="og:image" content="/assets/assets/img/-old/codeweekEU-logo-600.png" />
  <title>Evropski teden programiranja | {{ page.title }}</title>
  <style type="text/css">@import url('/assets/css/style.css');</style>
</head>