// Variables

// Gray and Brand Colors for use across theme

$theme-primary:    #F05F40;

$gray-base:        #000;
$gray-darker:      #222;
$gray-dark:        #333;
$gray:             #555;
$gray-light:       #777;
$gray-lighter:     #eee;