{% include header.html %}

<body id="page-top">

    {{ content }}

    <script src="{{ site.baseurl }}/assets/js/scripts.min.js"></script>

    <!-- Theme JavaScript -->
    <script>
     $(document).ready(function() {
      var codeWeekDay = new Date(2021,9,9); //Date constructor: year, monthIndex, day where monthIndex in 0 (january) to 11 (december)
        $('#final-countdown').countdown({
        	until: codeWeekDay,
        	format: 'D',
        	timezone: +2,
        	layout: '<div class="circle"><p>{dn} {dl}</p></div>'
        });
    });
    </script>

</body>
</html>
