---
layout: default
---

<section id="intro">
  <div class="row inner">
    <header class="col-md-4">
      <h1>CodeWeek.si</h1>
      <h2>Teden programiranja<br />7.&dash;22. oktober 2017<a href="https://twitter.com/search?q=%23codeEU&amp;f=realtime" target="_blank">#codeEU</a></h2>
    </header>

    {% include nav.ext %}

    <div id="intro-description" class="col-md-8 col-xs-12">
      <p><strong>Evropski teden programiranja letos praznuje 5. let!</strong> Leta 2016 se je na naših delavnicah po vsej Evropi učilo programirati 1.000.000 mladih. Boš oktobra letos tudi ti med udeleženci ali organizatorji? Na voljo je <a href="http://codeweek.si/gradiva/" target="_blank">gradivo za pripravo delavnice programiranja</a> - tudi take brez računalnikov in za mentorje, ki se s programiranjem še niste srečali.</p>
       

      <div class="button-well">
        <a href="http://events.codeweek.eu/search/?country_code=SI" target="_blank" class="button button-find">Dogodki v Sloveniji</a>
      </div>
    </div>

    <ul>

    </ul>
  </div>
</section>

{{ content }}
