---
layout: default
---

<section id="intro">
  <div class="row inner">
    <header class="col-md-4">
      <h1>CodeWeek.si</h1>
      <h2>Teden programiranja<br />15.&dash;23. oktober 2016<a href="https://twitter.com/search?q=%23codeEU&amp;f=realtime" target="_blank">#codeEU</a></h2>
    </header>

    {% include nav.ext %}

    <div id="intro-description" class="col-md-8 col-xs-12">
      <p>Evropski teden programiranja se vrača! Pripravili amo <a href="http://codeweek.si/gradiva/" target="_blank">gradivo</a>, s katerim lahko izvedete delavnico programiranja - četudi nimate računalnikov in se s programiranjem niste še nikoli srečali.</p>

      <div class="button-well">
        <a href="http://events.codeweek.eu/search/?country_code=SI" target="_blank" class="button button-find">Dogodki v Sloveniji</a>
      </div>
    </div>

    <ul>

    </ul>
  </div>
</section>

{{ content }}
