---
layout: default
---

<section id="intro">
  <div class="row inner">
    <header class="col-md-4">
      <h1>CodeWeek.si</h1>
      <h2>Teden programiranja<br />7.&dash;22. oktober 2017<a href="https://twitter.com/search?q=%23codeEU&amp;f=realtime" target="_blank">#codeEU</a></h2>
    </header>

    {% include nav.ext %}

    <div id="intro-description" class="col-md-8 col-xs-12">
      <p>Teden programiranja letos praznuje 5. let! Leta 2016 se je na naših delavnicah po vsej Evropi učilo programirati 1.000.000 mladih. Letos si lahko z nami tudi ti: na voljo je <a href="http://codeweek.si/gradiva/" target="_blank">gradivo</a> za izvedbo delavnice - tudi take brez računalnikov in za mentorje, ki se s programiranjem še niste srečali.</p>
       

      <div class="button-well">
        <a href="http://codeweek.si/gradiva/" target="_blank" class="button button-find">Gradivo</a>
      </div>
    </div>

    <ul>

    </ul>
  </div>
</section>

{{ content }}
