// Variables

// Gray and Brand Colors for use across theme

//$theme-primary:    #F05F40; //orange
$theme-primary:    #F05F40; //orange
$light-blue: #08a0c4;
$dark-blue: #2F4B8E;
$dark-plum: #422C79;
$plum: #842C7C;
$red-orange: #DB3A2F;
$orange: #E15E30;
$sunflower-yellow: #F7C224;
$light-yellow: #FFF151;



$gray-base:        #000;
$gray-darker:      #222;
$gray-dark:        #333;
$gray:             #555;
$gray-light:       #777;
$gray-lighter:     #eee;
